$main = #151514
$primary = #FF650E
$primary-light = #FFF0E7
$second = #005648
$gray-text = #6B6F71
$gray = #8A8A8A
$light-gray = #f8f8f8

$error = #D33F3F

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = linear-gradient(45deg, #FFC107 9.15%, #F44336 50.57%, #9C27B0 90.03%)
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0
$telegram = #2DA5E1
$whatsapp = #4AB336
$viber = #79539A
$zen = #393C41


$border = 1px solid #DEE6EB
$radius = 4px
// $bezier = cubic-bezier(.7, 0, .3, 1)
$bezier = cubic-bezier(.4,0,0,1)
$bezier2 = cubic-bezier(0.6, 0.05, 0.01, 0.99)
$bezier3 = cubic-bezier(.16,1.08,.38,.98)
// $main-padding = 8rem 0
// $main-offset = 14rem
// $main-offset = (120 / 1080 * 100)vh
$transition = all .4s cubic-bezier(.4,0,0,1)
$transition2 = all 1s cubic-bezier(.4,0,0,1)
$transition3 = all 2s cubic-bezier(.16,1.08,.38,.98)


$font = 'Gordita', 'Arial', 'Helvetica', sans-serif


