.page
  background-color $light-bg
  min-height 100vh

.section
  margin-bottom 4.8rem

.logo
  display inline-block
  margin-right 2.4rem
  transform translateY(-1px)

@media(min-width $desktop)
  .section
    margin-bottom 6.4rem