.authors
  overflow hidden
  margin-right -2.4rem
  &__container
    display flex
    overflow-x scroll
    -webkit-overflow-scrolling touch

.author
  align-items center
  display flex
  flex-direction column
  margin-bottom 3.2rem
  margin-right 1.6rem
  text-align center
  &__img
    border-radius 50%
    display block
    flex-shrink 0
    margin-bottom 1.6rem
    overflow hidden
    size(12rem)
    img
      max-width 100%
  &__first-name
    display block
  &_special
    margin-right 0
    .author
      &__first-name
        font-family $font-decorate
        font-size 4rem
        margin-bottom .4em






