.header
  align-items center
  background-color $light-header
  display flex
  margin-bottom 2.4rem
  min-height 4.8rem
  &__container
    align-items center
    display flex
    justify-content space-between
  &__left
    align-items center
    display flex
  &:hover
    .search
      &__input
        border-color #e3e3e3

.nav
  &__link
    font-size 1.4rem
    &:not(:last-child)
      margin-right 1em

.search
  display flex
  &__input
    background-color transparent
    border none
    border-bottom 1px solid transparent
    transition $transition
  &__button
    background-color transparent
    border none
    cursor pointer
