@import 'helpers/variables'
@import 'helpers/mixins'

@import 'base/base'
@import 'base/ui'
@import 'base/grid'
@import 'base/typography'
@import 'base/modal'

@import 'components/header'
@import 'components/hero'
@import 'components/footer'
@import 'components/pagination'
@import 'components/swiper'
@import 'components/cursor'
@import 'components/socials'
@import 'components/form'
@import 'components/tabs'
@import 'components/specialist'
@import 'components/search'
@import 'components/dropdown'
@import 'components/rambler-share'
@import 'components/blind'


@import 'pages/all'
@import 'pages/index'
@import 'pages/inners'
@import 'pages/services'
@import 'pages/contacts'
@import 'pages/price'
@import 'pages/documents'
@import 'pages/about'
@import 'pages/faq'
@import 'pages/online-payment'
@import 'pages/specialist'
@import 'pages/sitemap'
@import 'pages/vacancies'
@import 'pages/reviews'
@import 'pages/search'
@import 'pages/service-detail'
@import 'pages/news'
@import 'pages/privacy'

@import 'helpers/helpers'

@import 'base/media'


